body {
    background-color: slategray;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
    padding: .2em;

}

header {
    background-color: snow;
    margin: 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.brief-container {
    display: grid;
    grid-template-rows: 3em 2fr 1.5fr;
    background-color: rgb(3, 69, 112,.9);
    justify-self: end;
    justify-items: center;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 1.5em;
    text-align: center;
    border: solid black 3px;
}

.brief-title {
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, transparent, rgb(135, 235, 248), transparent);
    width: 95%;
    padding: .1em 0 .1em 0;
    border-radius: 1.5em;
    align-self: center;
}

.brief-image {
    border-radius: .5em;
    max-width: 95%;
    min-height: 100%;
    max-height: 500px;
}

.brief-description {
    font-size: 2rem;
    color:rgb(135, 235, 248);
    margin: .5em;
    justify-self: left;
    text-align: left;
}

.subject-title {
    color: seashell;
    grid-column: 1 / 6;
    margin: 0;
    font-size: 3rem;
    padding: .5em;
    text-align: center;
    align-content: center;
    height: 1.25em;
    background-image: linear-gradient(to right, transparent, black, transparent);
}

.container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-bar {
    margin-left: auto;
}

.nav-item-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    font-size: 1.75rem;
    padding: .75em;
    margin-left: .5em;
}

.nav-item a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    margin-left: 50%;
    background-color: black;
    transition: width 200ms ease-in-out, margin 200ms ease-in-out;
}

.nav-item a:hover::after {
    width: 100%;
    margin-left: 0%;
}

.nav-item a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
}

.nav-item a:hover {
    border: gray solid 1;
    transition: border 2s ease-in;
}

.img-container {
    display: grid;
    background-image: url("images\\SiteHomePage.png");
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: 2em repeat(3, 1fr) 2em;
    grid-template-rows: max-content auto;
    justify-items: space-evenly;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
}